body{
    margin: 0px;
    padding: 0px;
}

/*--- MENU BAR ---*/

.navBar{
    width: 70%;
    position: relative;
    top: 0px;
    margin: 0 auto 20px auto;
    background-color: #4e75b5;
    border-radius: 0px 0px 40px 40px;
    border: 1px solid #727F8C;
    border-top: none;
    box-shadow: 0px 5px 5px #727F8C;
}

.navBar ul{
    margin: 0px;
    padding: 5px 0px; 
    text-align: center;
}

.navBar li{
    display: inline;
    margin: 5px 10px;
    overflow: auto;
}

.navBar li a{
    color: #f4f4f4;
    font-weight: bolder;
    font-size: 2em;
    text-decoration: none;
}
.navBar li a:hover{
    /* color: #8aade6; */
    color: #a8c9ff;
}



/*--- BREADCRUMBS SECTION ---*/

.breadcrumbs{
    width: 70%;
    background-color: #4e75b5;
    margin: 0 auto;
    padding: 5px 0px;
    border-radius: 40px 40px 40px 40px;
    border: 1px solid #727F8C;
    border-top: none;
    box-shadow: 0px 0px 10px #727F8C;
}

.breadcrumbs ul{
    margin: 0px;
    padding: 0px 0px; 
    text-align: center;
}

.breadcrumbs li{
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 1.2em;
}



/* --- MAIN SECTION --- */

.mainDiv{
    width: 70%;
    background-color: #4e75b5;
    margin: 20px auto auto auto;
    padding: 20px;
    border-radius: 40px 40px 40px 40px;
    border: 1px solid #727F8C;
    border-top: none;
    box-shadow: 0px 0px 10px #727F8C;
}

.mainBox{
    width: 100%;
    margin: 10px auto;
    /* background-color: #f4f4f4; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.box{
    width: 50%;
    text-align: center;
}

.mainBox .box1{
    background-color: #4e75b5;
    border: 3px solid white;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainBox .box2{
    background-color: #a6b9d9;
    border: 3px solid white;
    margin-left: 5px;
    padding: 0px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mainDiv-fEfC{
    border-radius: 40px 0px 0px 0px;
}
#mainDiv-fElC{
    border-radius: 0px 0px 0px 40px;
}
#mainDiv-sEfC{
    border-radius: 0px 40px 0px 0px;
}
#mainDiv-sElC{
    border-radius: 0px 0px 40px 0px;
}

.tag{
    padding: 0px;
    color: white;
    font-weight: bolder;
    font-size: 5em;
}

.box2Elements{
    margin: 0px;
    padding: 5px 0px;
    list-style-type: none;
}


.box2Elements li{
    color: f4f4f4;
    font-weight: bolder;
    font-size: 1.3em;
    text-align: left;
}

.box2Elements li span a{
    color: white;
    text-decoration: none;
    margin: 0px 5px;
}

.box2Elements li span a:hover{
    color: white;
    border-bottom: 1px solid white;
}

/*--- FOOTER ---*/
footer{
    width: 70%;
    /* position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto; */
    margin: 20px auto;
    background-color: #4e75b5;
    border-radius: 40px 40px 40px 40px;
    border: 1px solid #727F8C;
    border-top: none;
    box-shadow: 0px -5px 5px #727F8C;
    /* z-index: -1; */
}

footer p{
    margin: 5px;
    padding: 5px;
    color: white;
    font-weight: bolder;
    font-size: 1.3em;
    display: flex;
    align-items: center;
    justify-content: center;   
    letter-spacing: 1.5px;
    word-spacing: 1px;
}