html{
    background-color: #015529;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------------------ */
/*----- NAVIGATION BAR -----*/
/* ------------------------ */

.headerSection{
    /* background-color: cornflowerblue; */
    text-shadow:  #6d4f0ee3 1px 1px;
    text-align: center;
    padding: 5px 0;
}

.headerSection h1{
    margin: 0 0 1.2rem 0;
    padding: 0;
    font-size: 3rem;
    color: #dc9e1b;
}

.navBar{
    font-size: 1.8rem;
}

.navBar-UL{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navBar-UL li{
    margin: 0 0.8rem;
}

.navBar-UL a{
    text-decoration: none;
    color: #dc9e1b;
}

.navBar-UL a:hover{
    border-bottom: 2px solid #dc9e1b;
}

/* ------------------------ */
/*---- BANNER SECTION ------*/
/* ------------------------ */

.bannerSection{
    background-color: #C6AA35;
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-family: 'Indie Flower', cursive;
    color: #015529;
    font-weight: bold;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bannerSection i{
    color: #015529;
    font-size: 3rem;
}

/* ------------------------ */
/*-- Despre Brasov SECTION -*/
/* ------------------------ */

.despreBrasov{
    color: #dc9e1b;
    margin: 0 10rem;
}

.despreBrasov h1{
    text-align: center;
}

.despreBrasov h1, h2{
    text-decoration: underline;
}

/* ----------------------------- */
/*-- ATRACTII TURISTICE SECTION -*/
/* ----------------------------- */

.atractiiTuristice{
    background-color: #C6AA35;
    padding-bottom: 1rem;
}

.atractiiTuristice h1{
    text-align: center;
    color: #015529;
    padding: 1rem 0 0 0 ;
}

.atractiiTuristice-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
    margin: 0 10rem;
    grid-column-gap: 0.5rem;
    grid-row-gap: 1rem;
}

.box1{
    
}
.box1 img{
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
}


.box1-info{
    grid-column-end: span 2;

}
.box1-info h1{
    color: #C6AA35;
    font-weight: bold;
    margin: 0;
    padding: 0.5rem 0;
    font-size: 3rem;
}
.box1-info p{
    color: #C6AA35;
    padding: 0 0.5rem;
    height: auto;
}

.box-prop{
    background-color: #015529;
    border-radius: 0.5rem;
}

/* ----------------------------- */
/*---- ECHIPA NOASTRA SECTION ---*/
/* ----------------------------- */

.echipaNoastra{
    text-align: center; 
    padding-bottom: 1rem;
}

.echipaNoastra h1{
    margin: 0;
    padding: 0.5rem 0;
    color: #C6AA35;
    font-weight: bold;
    text-decoration: underline;
}

.echipaNoastra-content{
    padding: 0 5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.echipaNoastra-content img{
    margin: 0;
    padding: 0;
    width: 20rem;
    height: 25rem;
}

.echipaNoastra-content p{
    margin: 0;
    padding: 0;
    background-color: #C6AA35;
    font-weight: bold;
    font-size: 1.5rem;
}


/* ----------------------------- */
/*---- CONTACT SECTION ---*/
/* ----------------------------- */

.contact{
    background-color: #C6AA35;
    margin: 0;
    padding: 1rem 0;
    color: #015529;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
}

/* ===================== */
/* ===================== */
/*       RESPONSIVE      */
/* ===================== */
/* ===================== */

@media only screen and (max-width: 600px){ 
    /* ------------------------ */
    /*----- NAVIGATION BAR -----*/
    /* ------------------------ */
    
    .headerSection{
        /* background-color: cornflowerblue; */
        text-shadow:  #6d4f0ee3 1px 1px;
        text-align: center;
        padding: 5px 0;
    }
    
    .headerSection h1{
        margin: 0 0 1.2rem 0;
        padding: 0;
        font-size: 1.5rem;
        color: #dc9e1b;
    }
    
    .navBar{
        font-size: 1rem;
    }
    
    .navBar-UL{
        margin: 0;
        padding: 0;
        list-style: none;
        display: inline-block;
        justify-content: flex-start;
        align-items: center;
    }
    
    .navBar-UL li{
        margin: 0 0.8rem;
    }
    
    .navBar-UL a{
        text-decoration: none;
        color: #dc9e1b;
    }
    
    .navBar-UL a:hover{
        border-bottom: 2px solid #dc9e1b;
    }
    
    /* ------------------------ */
    /*---- BANNER SECTION ------*/
    /* ------------------------ */
    
    .bannerSection{
        background-color: #C6AA35;
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        font-family: 'Indie Flower', cursive;
        color: #015529;
        font-weight: bold;
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .bannerSection i{
        color: #015529;
        font-size: 1rem;
    }
    
    /* ------------------------ */
    /*-- Despre Brasov SECTION -*/
    /* ------------------------ */
    
    .despreBrasov{
        color: #dc9e1b;
        margin: 0 5rem;
    }
    
    .despreBrasov h1{
        text-align: center;
    }
    
    .despreBrasov h1, h2{
        text-decoration: underline;
    }
    
    /* ----------------------------- */
    /*-- ATRACTII TURISTICE SECTION -*/
    /* ----------------------------- */
    
    .atractiiTuristice{
        background-color: #C6AA35;
        padding-bottom: 1rem;
    }
    
    .atractiiTuristice h1{
        text-align: center;
        color: #015529;
        padding: 1rem 0 0 0 ;
    }
    
    .atractiiTuristice-grid{
        display: inline-block;
        margin: 0 5rem;
    }
    
    .box1{
        margin-bottom: 5px;
    }

    .box1 img{
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
    
    .box1-info h1{
        color: #C6AA35;
        font-weight: bold;
        margin: 0;
        padding: 0.5rem 0;
        font-size: 1.2rem;
    }
    .box1-info p{
        color: #C6AA35;
        padding: 0 0.5rem;
        height: auto;
    }
    
    /* ----------------------------- */
    /*---- ECHIPA NOASTRA SECTION ---*/
    /* ----------------------------- */
    
    .echipaNoastra{
        text-align: center; 
        padding-bottom: 1rem;
    }
    
    .echipaNoastra h1{
        margin: 0;
        padding: 0.5rem 0;
        color: #C6AA35;
        font-weight: bold;
        text-decoration: underline;
    }
    
    .echipaNoastra-content{
        padding: 0 5rem;
        display: inline-block;
        justify-content: center;
        align-items: center;
    }
    
    .echipaNoastra-content img{
        margin: 0;
        padding: 0;
        width: 10rem;
        height: 12rem;
    }
    
    .echipaNoastra-content p{
        margin: 0;
        padding: 0;
        background-color: #C6AA35;
        font-weight: bold;
        font-size: 0.8rem;
    }
    .echipaNoastra-content div{
        margin-bottom: 1rem;
    }
    
    
    /* ----------------------------- */
    /*---- CONTACT SECTION ---*/
    /* ----------------------------- */
    
    .contact{
        background-color: #C6AA35;
        margin: 0;
        padding: 1rem 0;
        color: #015529;
        font-weight: bold;
        font-size: 0.8rem;
        text-align: center;
    }
}